torch
numpy
scipy
matplotlib
ssgetpy
imageio
scikit-image
tensor_toolbox @ git+https://github.com/jnlandu/tensor-tensor-toolbox-in-python
trk_algorithms @ git+https://github.com/jnlandu/tensor-randomized-kaczmarz-algorithms
